html,
body {
    
   
    width: 100%;
    height: 10vh;
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    align-items: row;
    background: rgb(0, 0, 0);
}

a{
   
 }

#descriptif  {
    
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    text-align: left;
    text-justify: distribute;
    margin-left: 50px;
    margin-right: 50px;
    color : rgb(180, 214, 224);
    width: 700px;
  line-height: 40px;

    
    
}

#title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 120px;
    color: rgb(180, 214, 224);
    margin-left: 50px;
    
  
} 
#date {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 50px;
    width: 150px;
   height: 150px;
    color: rgb(180, 214, 224);

}

.date{
    margin-left: 50%;
justify-content: right;
margin: 0%;
   
  
}
#image-space {
   
    max-width: 90%;
    max-height: 90%;
    padding-right: 10px;
  
  }
    /* Style pour l'image sur la page */



.description{
    display: flex;
    flex-direction: row;
    align-items: row;
}

.pastille {
    font-size: 15px;
    color: #7fffd4;
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    border: 0,5px;
    background-color: rgb(27, 27, 26);;
    border-color: gray
    border-image: fill;
    margin-left: 500px;
    margin-right: 500px;

}